
div.editor-main {
    margin: auto;
    padding: 0;
}

div.button-bar {
    padding: 10px 50px;
}

img.form-background {
    border: 1px solid gray;
    max-width: 1200px;
    padding: 0;
    margin: 0;
}

input.form-field {
    position: absolute;
    z-index: 1;
    border: 0;
    padding: 1px 2px 1px 5px;
    background-color: rgba(220, 220, 255, 0.3);
}

input.form-field[type=checkbox] {
    margin-left: 2px;
    margin-top: 2px;
}